.block
  %h3 In a glance
  .content
    %table.table
      %tr
        %td Buckets:
        %td
          =Bucket.count
      %tr
        %td Slots:
        %td =      
      %tr
        %td Total Size:
        %td =
      %tr
        
- if current_account.administrator?
  .block
    %h3 In the system
    .content
      %table.table
        %tr
          %td Accounts:
          %td 
            =Account.count      
        %tr
          %td Buckets:
          %td 
            =Bucket.count
        %tr
          %td Slots:
          %td 
            =Slot.count
        %tr
          %td Total Size:
          %td =
        %tr      
      
- if false
  .block
    %h3 Links
    %ul.navigation
      %li=link_to "Link 1"
      %li=link_to "Link 2"