- if false
  .group
    =f.label :type
    =f.error_message_on :type
    =f.text_field :type, :class => :text_field
    %span.description Ex: a simple text

.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description A name for the bucket. Must be a valid host name.

.group
  =f.label :meta
  =f.error_message_on :meta
  =f.text_field :meta, :class => :text_field
  %span.description Metadata for this bucket.

.group
  =f.label :access
  =f.error_message_on :access
  =f.select :access, :options => Bucket.canned_acls
  %span.description controls the access to the entire bucket.


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:buckets, :index)}';return false", :class => :button