.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:buckets, :index)
      %li.active=link_to pat(:new), url(:buckets, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:bucket)
    .inner
      -form_for :bucket, url(:buckets, :create), :class => :form do |f|
        =partial "buckets/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")