.group
  =f.label :bit_id
  =f.error_message_on :bit_id
  =f.text_field :bit_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :bit_name
  =f.error_message_on :bit_name
  =f.text_field :bit_name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :bit_size
  =f.error_message_on :bit_size
  =f.text_field :bit_size, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :bit_type
  =f.error_message_on :bit_type
  =f.text_field :bit_type, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :bucket_id
  =f.error_message_on :bucket_id
  =f.text_field :bucket_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :access
  =f.error_message_on :access
  =f.text_field :access, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:slots, :index)}';return false", :class => :button