
.group
  =f.label :file_path
  =f.error_message_on :bit_name
  =f.text_field :bit_name, :class => :text_field
  %span.description The path for this file bar.foo', it can include slashes: '/baz/foo.bar'.


.group
  =f.label :size
  =f.error_message_on :bit_size
  =f.text_field :bit_size, :class => :text_field, :disabled => true

.group
  =f.label :MIME_type
  =f.error_message_on :bit_type
  =f.text_field :bit_type, :class => :text_field, :disabled => true

.group
  =f.label :access
  =f.error_message_on :access
  =f.select :access, :options => AWS::S3::ACLs::CANNED_ACLS
  %span.description controls the access to this slot.


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:slots, :index, :bucket_id => @bucket.id)}';return false", :class => :button