.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:slots, :index, :bucket_id => @bucket.id)
      %li=link_to pat(:new), url(:slots, :new, :bucket_id => @bucket.id)
      %li.active=link_to pat(:edit), url(:slots, :edit, :id => @slot.id, :bucket_id => @bucket.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:slot)
    .inner
      -form_for :slot, url(:slots, :update, :id => @slot.id, :bucket_id => @bucket.id), :method => :put, :class => :form do |f|
        =partial "slots/form_edit", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")