.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:slots, :index, :bucket_id => @bucket.id)
      %li=link_to pat(:new), url(:slots, :new, :bucket_id => @bucket.id)
  .content
    %h2.title
      =pat(:all)
      =mt(:slots)
    .inner
      %table.table
        %tr
          %th.first=mat(:slot, :file_name)
          %th=mat(:slot, :size)
          %th=mat(:slot, :type)
          %th=mat(:slot, :access)
          %th=mat(:slot, :updated)
          %th.last="&nbsp;"
        -@slots.each do |slot|
          %tr
            %td.first=link_to slot.bit_name, url(:slots, :slot, :id => slot.id, :bucket_id => @bucket.id)
            %td=slot.bit_size
            %td=slot.bit_type
            %td=acl slot.access
            %td=slot.updated_at
            %td.last
              =button_to pat(:edit), url(:slots, :edit, :id => slot.id, :bucket_id => @bucket.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:slots, :destroy, :id => slot.id, :bucket_id => @bucket.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")